.muestra{
	border-left: 4px solid #1F7E32;
	border-radius: 3px;
	padding: 10px;
}

.btn-azulito{
	background-color: #007CFF;
	border-color: #0F76E9;
	border-radius: 3px;
	border-width: 1px;
	color: white;
}