.divTablaDatosModal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBotonesCapturar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnModal{
    margin: 10px;
}
#tablaDatosModal{
    border-collapse: collapse; 
}
#tablaDatosModal thead{
    text-align: center;
}
#tablaDatosModal thead th{
  position: sticky;
  top: 0;
  background-color: #444;
  color:white;
}
#tablaDatosModal tbody{
    text-align: center;
}
#labelEstatus{
    word-wrap: break-word;
}
#tablaDatosModal thead td{
    vertical-align: middle;
}

#tablaDatosModal tbody td{
    vertical-align: middle;
}