.fc-event{
    cursor: pointer;
}
.tituloEvidencias{
    display: block;
    text-align:center;
}
#imgUPIIZ{
    border-radius: 50%;
    height: 50px;
    background-color: transparent;
}
#imgUPIIZ:hover{
   opacity: 0.5;
}
#imgUPIIZ::after{
    transition-duration : 0.5s;
}
#imgIPN{
    border-radius: 50%;
    height: 50px;
    background-color: transparent;
}
.fc-center h2{
    text-align: center;
}